doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    title= title

    link(href="/css/vendor/bootstrap.css" rel="stylesheet")
    link(href="/css/vendor/bootstrap-theme.css" rel="stylesheet")
    link(href="/css/main.css" rel="stylesheet")
      
    base(href="/")

  body(ng-app="tg" ng-controller="AuthCtrl")
    .container-fluid
      navigation(ng-controller="NavigationCtrl")
      div(ng-view)

    div#debug
      strong User
      pre= JSON.stringify(debug.user, null, 2)
      strong Session
      pre= JSON.stringify(debug.session, null, 2)

    script(src="/js/vendor/angular.js")
    script(src="/js/vendor/underscore.js")
    script(src="/js/vendor/angular-route.js")
    script(src="/js/vendor/angular-resource.js")
    script(src="/js/vendor/angular-cookies.js")
    script(src="/js/vendor/angular-underscore.js")
    script(src="/js/vendor/ui-bootstrap-tpls-0.14.3.js")

    script(src="/js/angular/controllers/index.js")
    script(src="/js/angular/controllers/auth.js")
    script(src="/js/angular/controllers/navigation.js")
    script(src="/js/angular/controllers/feed.js")
    script(src="/js/angular/controllers/preset.js")
    script(src="/js/angular/controllers/presetSelector.js")
    script(src="/js/angular/controllers/history.js")
      
    script(src="/js/angular/components/tagSelector/component.js")
    script(src="/js/angular/components/connectButton/component.js")
    script(src="/js/angular/components/imageResource/component.js")
    script(src="/js/angular/components/instagramResource/component.js")

    script(src="/js/angular/directives/directives.js")
    script(src="/js/angular/interceptors/authentication.js")
    script(src="/js/angular/services/services.js")
    script(src="/js/angular/services/utils.js")
    script(src="/js/angular/app.js")

    // Templates
    each template in templates
      script(type="text/ng-template" id="/templates/#{template.name}.html")
        != template.html
