h2(ng-show="currentTag") Posts in tag "{{currentTag}}"
h2(ng-hide="currentTag") Posts in all favorite tags ({{posts.length - dupesFiltered}})
ng-pluralize(count="dupesFiltered" when="{'0': '', 'one': 'One dupe filtered', 'other': '{} dupes filtered'}")
div#posts.container-fluid
  div.row(ng-repeat="chunk in chunkedPosts")
    div.col-md-4(ng-repeat="post in chunk")
      img(
        ng-src="{{post.images.low_resolution.url}}"
        uib-popover="{{post.caption.text.length}}"
        popover-title="{{post.user.username}}"
        popover-animation="true"
        popover-trigger="mouseenter"
      )
